body {
    background-image: url("../images/Fuji-Background.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 5px solid #ffffff;
}

#question-box{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 120px;
    background-image: url("../images/Japan-Pattern-Transparent.png");
    border: 5px solid cornflowerblue;
}

.center-card {
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top: 40px;
        text-align: center;
        background-image: url("../images/Japan-Pattern-Transparent.png");
        border: 5px solid cornflowerblue;
}

.center-card#timer-box {
    position: fixed;
    display: block;
    left: 60px;
    top: 40px;
    width: 20%;
    height: 25%;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    z-index: 3;
    background-image: url("../images/Japan-Pattern.jpg");
    border: 5px solid cornflowerblue;
}

.center-card#answer-box {
    margin-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    background-image: url("../images/Japan-Pattern-Transparent.png");
    border: 5px solid cornflowerblue;
}

#start-btn {
    margin-bottom: 40px;
}

#q-card {
    margin: 40px;
    width: 100%;
    border: 5px solid cornflowerblue;
}

#card-img {
    border-bottom: 5px solid cornflowerblue !important;
}

#score-btn {
    margin-left: auto;
    margin-right: auto;
}